body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4a502c, #4caf78);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#display {
    font-size: 40px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1a252f;
    transform: scale(1.05);
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

#laps {
    list-style: none;
    padding: 0;
}

#laps li {
    background: #f1f1f1;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}